<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.logicom.mapper.ScLogisticsUserMapper">

    <sql id="scLogisticsUserColumns">
		a.id AS "id",
		a.logi_com_id AS "logisticsCompany.id",
		a.user_id AS "user.id",
		a.status AS "status",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
				
				
		user.name AS "user.name"
	</sql>

    <sql id="scLogisticsUserJoins">
		
			LEFT JOIN sc_logistics_company b ON b.id = a.logi_com_id
		LEFT JOIN sys_user user ON user.id = a.user_id
	</sql>


    <select id="get" resultType="ScLogisticsUser">
        SELECT
        <include refid="scLogisticsUserColumns"/>
        FROM sc_logistics_user a
        <include refid="scLogisticsUserJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="ScLogisticsUser">
        SELECT
        <include refid="scLogisticsUserColumns"/>
        FROM sc_logistics_user a
        <include refid="scLogisticsUserJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            <if test="logisticsCompany != null and logisticsCompany.id != null and logisticsCompany.id != ''">
                AND a.logi_com_id = #{logisticsCompany.id}
            </if>
            <if test="user != null and user.id != null and user.id != ''">
                AND a.user_id = #{user.id}
            </if>
            <if test="status != null and status != ''">
                AND a.status = #{status}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_date ASC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="ScLogisticsUser">
        SELECT
        <include refid="scLogisticsUserColumns"/>
        FROM sc_logistics_user a
        <include refid="scLogisticsUserJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_date ASC
            </otherwise>
        </choose>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sc_logistics_user(
			logi_com_id,
			user_id,
			status,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{logisticsCompany.id},
			#{user.id},
			#{status},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>

    <update id="update">
		UPDATE sc_logistics_user SET 	
			logi_com_id = #{logisticsCompany.id},
			user_id = #{user.id},
			status = #{status},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>


    <!--物理删除-->
    <update id="delete">
        DELETE FROM sc_logistics_user
        <choose>
            <when test="id !=null and id != ''">
                WHERE id = #{id}
            </when>
            <otherwise>
                WHERE logi_com_id = #{logisticsCompany.id}
            </otherwise>
        </choose>
    </update>

    <!--逻辑删除-->
    <update id="deleteByLogic">
        UPDATE sc_logistics_user SET
        del_flag = #{DEL_FLAG_DELETE}
        <choose>
            <when test="id !=null and id != ''">
                WHERE id = #{id}
            </when>
            <otherwise>
                WHERE logi_com_id = #{logisticsCompany.id}
            </otherwise>
        </choose>
    </update>


    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
    <select id="findUniqueByProperty" resultType="ScLogisticsUser" statementType="STATEMENT">
		select * FROM sc_logistics_user  where ${propertyName} = '${value}'
	</select>

</mapper>